{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('PASTEBIN_LANG_CONFIG') }}</h1>

<p>{{ lang('PASTEBIN_LANG_CONFIG_EXPLAIN') }}</p>

<table class="table1 zebra-table">
    <thead>
        <tr>
            <th>{{ lang('PASTEBIN_TABLE_LANG_ID') }}</th>
            <th>{{ lang('PASTEBIN_TABLE_LANG_NAME') }}</th>
            <th>{{ lang('PASTEBIN_TABLE_LANG_NAME_CLEAN') }}</th>
            <th>{{ lang('PASTEBIN_TABLE_FILE_EXTENSIONS') }}</th>
            <th>{{ lang('PASTEBIN_TABLE_LANG_ACTIVE') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in loops.langlist %}
        <tr>
            <td>{{ item.LANG_ID }}</td>
            <td>{{ item.LANG_NAME }}</td>
            <td>{{ item.LANG_NAME_CLEAN }}</td>
            <td>{{ item.LANG_FILE_EXTENSION }}</td>
            <td>{{ item.LANG_ACTIVE }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<dl>
    <dt><label for="allowed">{L_ALLOWED}{L_COLON}</label></dt>
    <dd><input type="checkbox" class="radio" id="allowed" name="allow_group" value="1"<!-- IF ALLOW_GROUP --> checked="checked"<!-- ENDIF --> /></dd>
</dl>

<td class="centered-text"><input type="checkbox" class="radio" name="delete[{{ attachments.ATTACH_ID }}]" /></td>

TODO: Add submit button, form drumherum, checkbox für LANG_ACTIVE und input feld für FILE_EXTENSION

{% include 'overall_footer.html' %}
