{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('PASTEBIN_LANG_CONFIG') }}</h1>

<p>{{ lang('PASTEBIN_LANG_CONFIG_EXPLAIN') }}</p>

<form id="acp_pastebin_lang_settings" method="post" action="{{ U_ACTION }}">
    <fieldset>
        <legend>{{ lang('PASTEBIN_LANG_SETTINGS')}}</legend>
        <p>{{ lang('PASTEBIN_LANG_SETTINGS_EXPLAIN')}}</p>

        <table class="table1 zebra-table">
            <thead>
                <tr>
                    <th>{{ lang('PASTEBIN_TABLE_LANG_ID') }}</th>
                    <th>{{ lang('PASTEBIN_TABLE_LANG_NAME') }}</th>
                    <th>{{ lang('PASTEBIN_TABLE_LANG_NAME_CLEAN') }}</th>
                    <th>{{ lang('PASTEBIN_TABLE_FILE_EXTENSIONS') }}</th>
                    <th>{{ lang('PASTEBIN_TABLE_LANG_ACTIVE') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in loops.langlist %}
                <tr>
                    <td>{{ item.LANG_ID }}</td>
                    <td>{{ item.LANG_NAME }}</td>
                    <td>{{ item.LANG_NAME_CLEAN }}</td>
                    <td>{{ item.LANG_FILE_EXTENSION }}</td>
                    <td><input type="checkbox" class="checkbox" name="lang_active[{{ item.LANG_ID }}]" value="{{ item.LANG_ID }}" {{ item.LANG_ACTIVE ? ' checked' }}></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</fieldset>

<fieldset class="submit-buttons">
    <input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
    {{ S_FORM_TOKEN }}
</fieldset>
</form>


{% include 'overall_footer.html' %}
