.pastebin {
	& #pastebin-codebox {
		font-size: 15px;
	}


	& #pastebin-codebox dd {
		margin: 0;
		padding: 5px 0 0 1px;

		& code {
			max-height: none;
		}
	}

	& #pastebin-codebox dt {
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		font-size: 0.8em;
		font-weight: bold;
		display:block;
		padding: 3px 0 0.5% 2px;
	}

	& .mini-panel {
		display: block;
		font-size: 110%;
		padding: 1% ;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	& .new-entry {
		float: right;
		line-height: 1.5;
		margin-right: 10px;
		width: 30%
	}

	& .last-snippets {
		float: right;
		line-height: 1.5;
		margin: 20px 10px 0 0;
		width: 30%;
	}

	& .mod-panel {
		float: left;
		width: 63%;
	}

	& #content {
		font-size: 105%;
		float: left;
		width: 65%;
	}

	& #extras {
		width: 100%;
	}

	& .mini-panel h3 {
		margin-top: 0;
	}

	& .mini-panel ul {
		padding-left: 12px;
	}

	& #copy_paste.inputbox{
		min-width: 100%;
		max-width: 100%;
		border:none;
	}

	& .textwrapper{
		border: 1px solid #B4BAC0;
		padding: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

/* Responsive */
@media (max-width: 860px) {
	.pastebin :is(.last-snippets, .mod-panel, .new-entry, #content) {
		float: none;
		margin: 10px 0;
		width: auto;
	}
}
